/.idea
.DS_Store
country-data-import/output/btcmap-areas-10m/-99.json
country-data-import/output/btcmap-areas-10m/-99.json
country-data-import/output/btcmap-areas-50m/.json
country-data-import/output/btcmap-areas-50m/.json
country-data-import/output/btcmap-areas-10m/-99.json
