run = "python"
modules = ["python-3.11"]

[deployment]
run = ["sh", "-c", "python"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run Area Stats Generator"
author = 23073448
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd data-analysis && python area-stats-generator.py"

[[workflows.workflow]]
name = "Run Get Community Contacts"
mode = "sequential"
author = 23073448

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd utility-scripts && python get-community-contact-details.py"

[[workflows.workflow]]
name = "Run Heatmap Generator"
mode = "sequential"
author = 23073448

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd data-analysis/merchant-denisty-heatmap && python heatmap2.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "btcmap-reports"

[[workflows.workflow]]
name = "btcmap-reports"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd utility-scripts && python run-reports.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
